appdirs==1.4.4
asgiref==3.3.4
autopep8==1.5.7
certifi==2021.5.30
distlib==0.3.2
Django==3.2.4
django-filter==2.4.0
djangorestframework==3.12.4
filelock==3.0.12
keyboard==0.13.5
Markdown==3.3.4
mouse==0.7.1
MouseInfo==0.1.3
Pillow==8.3.1
pipenv==2021.5.29
PyAutoGUI==0.9.53
pycodestyle==2.7.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
PyTweening==1.0.3
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.4.7
virtualenv-clone==0.5.4
